body {
    background-color: gray;
}

.drum-machine {
    width: 215px;
}

.drum-pad {
    width: 75px;
    height: 75px;
    background-color: blanchedalmond;
    text-align: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: grab;
}

.drum-pad:first-child {
    border-left: 1px solid black;
}

.display {
    width: 213px;
    height: 50px;
    background-color: #545454;
    border: 1px solid black;
    justify-content: center;

}

.display p {
    padding: 4px;
    color: white;
    font-size: 13px;
    width: 100%;
    text-align: center;
}
